<h1>Patients#show</h1>
<p>Find me in app/views/patients/show.html.erb</p>
<%= @patient.name %></br>
<% @patient.appointments.each do |a| %>
<%=  a.appointment_datetime.strftime(" %B %d, %Y at  %H:%M") %>
<%= link_to a.doctor.name, doctor_path(a.doctor) %></br>
<% end %>
