<h1>Doctors#show</h1>
<p>Find me in app/views/doctors/show.html.erb</p>
<ol>
  <% @doctor.appointments.each do |a| %>
    <li>
      
      <%= link_to a.patient.name, patient_path(a.patient) %></br>
      <%= a.appointment_datetime.strftime(" %B %d, %Y at  %H:%M") %></br>
      <%# binding.pry %>
    </li>
  <% end %>
</ol>
